<!DOCTYPE html>
<html lang="en" th:fragment="parent(content,title)" xmlns:th="http://www.thymeleaf.org" class="light">
<head>
    <meta charset=" UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link data-th-href="@{/css/output.css}" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<title th:replace="${title}">Document</title>
</head>

<body>
    <!-- Navbar -->
    <section data-th-replace="~{navbar :: navbar}"></section>



    <!-- Main content -->
    <div class="mt-6 p-4">
        <section data-th-replace="${content}"></section>
    </div>




    <!-- common footer content -->
    <footer class="p-4 flex justify-center">
        @ 2024 Copyright. Hariom Rajput
    </footer>

    <script data-th-src="@{'/scripts/scripts.js'}" ></script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>

</body>

</html>