HELP.md
target/
node_modules/


!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### VS Code ###
.vscode/

scm/src/main/resources/static/css/output.css

scm/scm/src/main/resources/application.properties